<!DOCTYPE html>
<html>
  <head>
    <title>Dance Finder</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Where do you want to dance?</h1>
    <p></p>
  </body>
</html>
