<!DOCTYPE html>
<html>
  <head>
    <title>Dance Finder</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Where do you want to dance?</h1>
    <input id="search" type="text" name="name" value="">
    <input id="find" type="submit" name="name" value="Find!">

    <h2>Upcoming Dances in <span class="state">STATE</span></h2>
    <ul id="upcoming">
    </ul>

    <h2>Recurring Dance Series in <span class="state">STATE</span></h2>
    <ul id="recurring">
    </ul>

    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/javascripts/script.js" charset="utf-8"></script>
  </body>
</html>
